.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}


.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.logo{
  height: 20vh;
}

.Body-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-bottom: 32px;
}