/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900"); */

body {
  margin: 0;
}

html,
body,
input,
select,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15pt;
  font-weight: 300 !important;
  letter-spacing: -0.025em;
  line-height: 1.75em;
}
